---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hello!">
	<div class="content">
		<p>Hello...</p>
		<p>uwu</p>
		<p>Stop staring is embarassing</p>
		<img
			src="https://cdn3.emoji.gg/emojis/3838-blushing.png"
			width="64px"
			height="64px"
			alt="Blushing"
			class="center"
		/>

		<p>(so far i have no purpose for this page)</p>
	</div>
</MainLayout>

<style>
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		margin-top: 20px;
		font-size: 60px;
		text-align: center;
		transform: rotate(2deg);
	}
</style>
