---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hello!">
    <div class="content">
        <br />
        <p>A page for all the links</p>
        <p>
            Everything here is for educational purposes only and if you don't
            agree it's fair use you can <a
                href="https://www.youtube.com/watch?v=ZhtFVHLcr5w">click here</a
            >
        </p>
        <ul>
            <li>
                Bio-geo degree
                <a
                    href="https://drive.google.com/drive/folders/1d-t-Ykz4Jj6vshrrNfZuL6pGGd57f6X1?usp=sharing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >course materials
                </a>
            </li>

            <li>
                <a
                    href="https://docs.google.com/document/d/1lkSInrm2pZN-nzi6HhKwbkmz9hSL5YkfYteFd4Wl304/edit?usp=sharing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Digital library
                </a>
            </li>
        </ul>
    </div>
</MainLayout>
