---
import { formatDate } from "../utils";
import MainLayout from "./MainLayout.astro";

const { title, description, last_updated_date, created_date } =
    Astro.props.frontmatter;

let last_updated_date2 = formatDate(last_updated_date);
let created_date2 = formatDate(created_date);
---

<MainLayout {title} {description}>
    <div class="content">
        <h1>{title}</h1>
        <p>
            {last_updated_date2 > created_date2 ? "updated: " : ""}
            {last_updated_date2}
        </p>
        <slot />
    </div>
    <div class="sidebar"></div>
</MainLayout>

<style>
    .content {
        margin-left: 5%;
        height: 100%;
    }
</style>
